body {
    background-color: black;
    overflow:hidden;
    /*background-image: url('img/space1.png');
    background-size: cover;
    background-position: center 10%*/
}

#canvasMain {
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height: 100%;
    display:inline-block;
}
section {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    
}
h1:not(#replay) {
    color: white;
    font-size: 76px;
    margin: 0 25%;
    display: block;
}

#sapphireName {
    margin: -70px auto;
    display:block;
}


#canvas1 {
    position: absolute;
    top: 2%;
    left: 60%;
    width: 39%;
    height: 96%;
    border-radius: 5%;
    border: 6px solid white;
}

#replay {
    position:absolute;
    top:50%;
    left: 68%;
    color: green;
    display: none;
    cursor: pointer;
}
